{% extends 'myshowsapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-4 offset-md-4">
    <h5>Please enter (and confirm) your new password:</h5>

    <form action="" method="POST">
        {% csrf_token %}
        {% if errors %}
        {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
        {{ form|crispy }}
        <input type="submit" name="submit" value="Change my password" />
    </form>

</div>

{% endblock %}
